<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>도서 관리 시스템</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
</head>
<body>
<h1>도서 대여기록</h1>
<table border="1">
    <thead>
    <th>대여번호</th>
    <th>고객번호</th>
    <th>도서번호</th>
    <th>도서제목</th>
    <th>대여일자</th>
    <th>반납일자</th>
    </thead>
    <tbody>
    <tr th:each="dto : ${dtoList}">
        <td th:text="${dto.id}"></td>
        <td th:text="${dto.customerId}"></td>
        <td th:text="${dto.bookId}"></td>
        <td th:text="${dto.bookId}+'의제목'"></td>
        <td th:text="${dto.borrow_date}"></td>
        <td th:text="${dto.return_date}"></td>
        <!--            <td>-->
        <!--                <a onclick="return confirm('정말 삭제하시겠습니까?')" th:href="@{/deleteExpense(id=${dto.expenseId})}">삭제</a>-->
        <!--                |-->
        <!--                <a th:href="@{/updateExpense(id=${dto.expenseId})}">수정</a>-->
        <!--            </td>-->
    </tr>
    </tbody>
</table>
</body>
</html>