<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>도서 대여</title>
</head>
<body>
<h1>도서 대여하기</h1>
<hr>
<h1>고객정보DTO출력공간</h1>
<hr>
<form>
    <input type="text" placeholder="이름 입력" />
    <br /><br />
    <input type="number" placeholder="비용 입력" />
    <br /><br />
    <input type="date" />
    <br /><br />
    <textarea rows="5" placeholder="설명 입력"></textarea>
    <br /><br />
    <button type="submit">Submit</button>
</form>
</body>
</html>