<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<nav th:replace="layout::admin-nav"></nav>
<div class="container mt-5">
    <h3 class="text-center">대출 상세 정보</h3>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" th:action="@{/loan/{loanId}/extend(loanId=${loan.loanId})}">
                <div class="mb-3">
                    <label for="loan_id" class="form-label">대출 ID</label>
                    <input type="text" class="form-control" id="loan_id" th:value="${loan.loanId}" readonly>
                </div>
                <div class="mb-3">
                    <label for="book_title" class="form-label">도서 제목</label>
                    <input type="text" class="form-control" id="book_title" th:value="${loan.bookId.title}" readonly>
                </div>
                <div class="mb-3">
                    <label for="user_id" class="form-label">회원 이름</label>
                    <input type="text" class="form-control" id="user_id" th:value="${loan.userId.name}" readonly>
                </div>
                <div class="mb-3">
                    <label for="user_contact" class="form-label">연락처</label>
                    <input type="text" class="form-control" id="user_contact" th:value="${loan.userId.phone}" readonly>
                </div>
                <div class="mb-3">
                    <label for="user_email" class="form-label">이메일</label>
                    <input type="text" class="form-control" id="user_email" th:value="${loan.userId.email}" readonly>
                </div>
                <div class="mb-3">
                    <label for="loan_date" class="form-label">대출 날짜</label>
                    <input type="text" class="form-control" id="loan_date" th:value="${loan.loan_date}" readonly>
                </div>
                <div class="mb-3">
                    <label for="due_date" class="form-label">반납 예정일</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="due_date" th:value="${loan.due_date}" readonly>
                        <button type="submit" class="btn btn-warning ms-3">연장</button>
                    </div>
                </div>
            </form>
            <form method="post" th:action="@{/loan/{loanId}/return(loanId=${loan.loanId})}">
                <div class="mb-3">
                    <label for="return_date" class="form-label">반납 날짜</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="return_date" th:value="${loan.return_date}" readonly>
                        <button type="submit" class="btn btn-primary ms-3">반납</button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="mb-3">
                <label for="isReturned" class="form-label">반납 여부</label>
                <input type="text" class="form-control" id="isReturned" th:value="${loan.isReturned} ? '반납 완료' : '미반납'" readonly>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="mb-3">
                    <label for="availability" class="form-label">해당 도서 대출 가능 여부</label>
                    <input type="text" class="form-control" id="availability" th:value="${loan.bookId.isAvailable()} ? '가능' : '대출중'" readonly>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <hr>
            <h4 class="mt-5">사용자 대출 현황</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>도서 제목</th>
                    <th>대출 날짜</th>
                    <th>반납 예정일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userLoan : ${userLoans}">
                    <td th:text="${userLoan.bookId.title}"></td>
                    <td th:text="${userLoan.loan_date}"></td>
                    <td th:text="${userLoan.due_date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:replace="layout::bootstrap-js"></script>
</body>
</html>
