<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<nav th:replace="layout::admin-nav"></nav>
<div class="container mt-5">
    <h3 class="text-center">대출 목록 조회</h3>
    <form class="row g-3 my-4" method="get" action="/loan">
        <div class="col-auto">
            <select class="form-select" id="type" name="type">
                <option value="title">도서 제목</option>
                <option value="userId">사용자 이름</option>
            </select>
        </div>
        <div class="col-auto">
            <input class="form-control" type="search" placeholder="검색어 입력" aria-label="Search" id="text" name="text">
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-success" type="submit">검색</button>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>대출 번호</th>
            <th>도서 제목</th>
            <th>사용자 이름</th>
            <th>대출 날짜</th>
            <th>반납 예정일</th>
            <th>반납 여부</th>
            <th>조회/연장</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto : ${dtoList}">
            <td th:text="${dto.loanId}"></td>
            <td th:text="${dto.bookId.title}"></td>
            <td th:text="${dto.userId.name}"></td>
            <td th:text="${dto.loan_date}"></td>
            <td th:text="${dto.due_date}"></td>
            <td th:text="${dto.isReturned}?'반납 완료':'미반납'"></td>
            <td>
                <a th:href="@{/loan/{id}(id=${dto.loanId})}" class="btn btn-primary btn-sm">조회</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:replace="layout::bootstrap-js"></script>
</body>
</html>