<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<div class="container mt-5">
  <h2 class="text-center" th:text="${loan == 'loan' ? '도서 대출' : '도서 반납'}"></h2>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form th:action="|${loan == 'loan' ? '/main/loan/form' : '/main/return/form'}|" method="post">
        <input type="hidden" th:value="${userId}" name="userId" />
        <div class="mb-3">
          <label for="book_id" class="form-label">도서 번호 입력</label>
          <input type="text" class="form-control" id="book_id" name="bookId" placeholder="도서 번호를 입력하세요" required />
        </div>
        <button type="submit" class="btn btn-info w-100 mb-2" th:if="${loan == 'loan'}">대출</button>
        <button type="submit" class="btn btn-primary w-100 mb-2" th:if="${loan == 'return'}">반납</button>
        <button type="button" class="btn btn-danger w-100" onclick="history.back()">취소</button>
      </form>
    </div>
  </div>
</div>
<script th:replace="layout::bootstrap-js"></script>
</body>
</html>
