<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<nav th:replace="layout::user-nav"></nav>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h3 class="text-center" th:text="${user.userId == null} ? '새 회원' : '회원 수정'">회원가입</h3>
            <form id="registerForm" th:object="${user}" th:action="@{/registUser}" method="post" onsubmit="return validateForm()">
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" class="form-control" id="email" placeholder="이메일을 입력하세요" th:field="*{email}" required />
                    <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요" th:field="*{password}" required />
                    <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></div>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">비밀번호 확인</label>
                    <input type="password" class="form-control" id="password2" placeholder="비밀번호를 다시 입력하세요" th:field="*{password2}" required />
                    <div id="passwordMismatchError" class="text-danger" style="display:none;">비밀번호가 일치하지 않습니다.</div>
                </div>
                <hr>
                <div class="mb-3">
                    <label for="name" class="form-label">이름</label>
                    <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요" th:field="*{name}" required />
                    <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">핸드폰</label>
                    <input type="text" class="form-control" id="phone" placeholder="핸드폰 번호를 입력하세요" th:field="*{phone}" required />
                    <div th:if="${#fields.hasErrors('phone')}" class="text-danger" th:errors="*{phone}"></div>
                </div>
                <button type="submit" class="btn btn-primary w-100" th:text="${user.userId == null} ? '회원가입' : '수정'"></button>
                <a class="btn btn-secondary w-100 mt-2" th:href="@{/login}">돌아가기</a>
                <input type="hidden" th:field="*{userId}" />
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/validateForm.js}"></script>
<script th:replace="layout::bootstrap-js"></script>
</body>
</html>
